

.image {
 width: 35%;
 margin:0 auto;
margin-top: 10vh;
}

.textUnderLogo {
  text-align: center;
  font-style: oblique;
  font-size: 4vh;
}

.author {
  /* position: absolute; */
  text-align: right;
  /* border-style: solid; */
  width: 90vw;
  font-style: italic;
  font-size: 2vh;
}
.line {
  margin-top: 5vh;
  width: 80vw;
  margin-bottom: 5vh;
}

.upcomingEvents {
  text-align: center;
  /* border-style: solid; */
  font-size: 7vh;
}

.featuredImage {
  /* width: 35vw; */
  margin-left: 15vw;
  border-style: dashed;
  width: 500px;
  height: 500px;
  /* position: absolute; */
  /* position: relative; */
}

.flexContainer {
  display: flex;
  border-style: double;
}

.featuredText {
  margin-left: 1vw;
}


.aboutUs {
  margin-left: 15vw;
  margin-right: 15vw;
  text-align: center;
  font-size: 3vh;
}
.postname {
  font-size: 5vh;
  width: 40vw;
}

.descrption {
  width: 40vw;
}

.socMediaIcon {
  color: #844FBD;
  margin-left: 10vw;
  margin-right: 10vw;
}

.socMediaIcon:first-child {
  margin-left: 19vw;
}

.bottomText {
  margin-top: 30vh;
  float: right;
}